# Data Preprocessing Steps:

## Import the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

## Import and examine the dataset
- Do we have any missing values?
- Show the dataframe sorted by State
- Show the means of numeric features by State
- Compute the min, max and mean of Salary and Age by state

Use a many cells as needed to show your work

[Dataset.csv](https://drive.google.com/file/d/1Sq7OQ-jMWFlF6Zamz5_RmIvjUt9d1THb/view?usp=sharing)

          State   Salary   Age Paid_back
0      New York  80000.0  35.0       Yes
1    New Jersey  60000.0  47.0       Yes
2  Pennsylvania  50000.0  61.0        No
3    New Jersey      NaN  29.0        No
4    New Jersey  90000.0  70.0        No
5      New York  40000.0  37.0       Yes
6  Pennsylvania  56000.0  30.0       Yes
7      New York  85000.0   NaN        No
8  Pennsylvania  42000.0  50.0       Yes
9    New Jersey  72000.0  42.0       Yes

## Take Care of missing data
1.  Delete rows with missing data, or
2.  Replace missing data with mean values.

## Encode Categorical data

#### Encode and display the categorical Independent Variable

#### Encode and display the Dependent Variable

## Split the dataset into training and testing sets

## Feature Scaling

#### Standardized Scaling
* Scale the numerical features using standardized scaling
* Show your work

#### Normalized Scaling
* Scale the numerical features using normalized scaling
* Show your work